@page "/cart"
@using System.Linq
@inject ICartService _cartService
@inject IOrderService _orderService
@inject NavigationManager _navigationManager

<PageTitle>Shopping Cart</PageTitle>

<h3>Shopping Cart</h3>

@if (cartProducts.Count is 0)
{
    <span>@message</span>
}
else
{
    <div>
        @foreach (var product in cartProducts)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img class="image" src="@product.ImageUrl" alt="@product.Title"/>
                </div>
                <div class="name">
                    <h5>
                        <a href="/product/@product.ProductId">@product.Title</a>
                    </h5>
                    <span>@product.ProductType</span><br/>
                    <input class="form-control input-quantity" type="number" min="1" value="@product.Quantity" @onchange="@((ChangeEventArgs e) => UpdateQuantity(e, product))"/>
                    <button class="btn-delete" @onclick="@(() => RemoveFromCart(product.ProductId, product.ProductTypeId))">Remove</button>
                </div>
                <div class="cart-product-price">
                    $@(product.Price * product.Quantity)
                </div>
            </div>
        }
        <div class="cart-product-price">
            Total (@cartProducts.Count) : $@cartProducts.Sum(product => product.Price * product.Quantity)
        </div>
    </div>
    <button class="btn btn-success float-end mt-1" @onclick="PlaceOrder">Place Order</button>
}

@code {
    private List<CartProductResponse> cartProducts = null;
    private string message = "Loading cart...";
    
    // load/display cart 
    protected override async Task OnInitializedAsync()
    {
        await LoadCart();
    }

    // load the cart items
    private async Task LoadCart()
    {
        // update cart items count
        await _cartService.GetCartItemsCount();

        // get cart products
        cartProducts = await _cartService.GetCartProducts();
        
        // no cart items
        if (cartProducts.Count is 0) message = "Your cart is empty.";
    }

    // remove product from cart
    private async Task RemoveFromCart(int productId, int productTypeId)
    {
        // remove item
        await _cartService.RemoveFromCart(productId, productTypeId);
        
        // reload cart
        await LoadCart();
    }

    // update a products quantity
    private async Task UpdateQuantity(ChangeEventArgs e, CartProductResponse product)
    {
        // parse quantity from input box
        product.Quantity = int.Parse(e.Value.ToString());

        // clamp to min quantity of 1
        if (product.Quantity < 1) product.Quantity = 1;
        
        // update cart item
        await _cartService.UpdateQuantity(product);
    }

    // place order
    private async Task PlaceOrder()
    {
        // Place order and navigate to checkout.
        _navigationManager.NavigateTo(await _orderService.PlaceOrder());
    }
}